:root {
	--color-1: rgb(0, 0, 0);
	--color-2: rgb(255, 0, 0);
	--color-3: rgb(255, 255, 255);
	--color-4: rgb(192, 192, 192);
	--color-5: rgb(40, 40, 40);
	--color-6: rgb(235, 235, 235);

	--header-height: 60px;
	--header-bg-color: var(--color-1);
	--header-separator-color: var(--color-2);
	--header-page-color: var(--color-4);
	--header-button-fg-color: var(--color-3);
	--header-button-fg-active-color: var(--color-4);
	--header-button-bg-active-color: var(--color-5);
	--header-button-fg-hovered-color: var(--color-2);
	--header-burger-color: var(--color-3);
	--header-burger-hovered-color: var(--color-2);
	--header-menu-border-color: var(--color-4);

	--footer-bg-color: var(--color-5);
	--footer-map-title-color: var(--color-3);
	--footer-map-link-color: var(--color-3);
	--footer-map-link-active-color: var(--color-2);
	--footer-map-link-hovered-color: var(--color-2);

	--footer-social-fg-color: var(--color-1);
	--footer-social-fg-hovered-color: var(--color-2);
	--footer-social-bg-color: var(--color-3);

	--footer-legal-fg-color: var(--color-4);

	--nav-bg-color: var(--color-3);
	--nav-fg-color: var(--color-1);
	--nav-fg-hovered-color: var(--color-2);

	--content-bg-primary-color: var(--color-3);
	--content-bg-secondary-color: var(--color-6);

	--text-input-bg-color: var(--color-6);
	--text-input-border-hovered-color: var(--color-5);

	--checkbox-input-bg-color: var(--color-6);
	--checkbox-input-border-color: var(--color-5);
	--checkbox-input-fg-color: var(--color-2);

	--button-bg-color: var(--color-1);
	--button-bg-hovered-color: var(--color-2);
	--button-fg-color: var(--color-3);
	--button-arrow-color: var(--color-2);
	--button-arrow-hovered-color: var(--color-1);

	--compact-view-cross-color: var(--color-2);
	--compact-view-bg-color: var(--color-6);

	--font: "Bahnschrift", sans-serif;
	font-family: var(--font);
}

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--header-height));
	padding-top: var(--header-height);
	background-image: url(images/noise.png);
	background-size: 80%;
}

/* ----- HEADER ----- */

header {
	z-index: 1;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	height: var(--header-height);
	background-color: var(--header-bg-color);
}

/* CURRENT PAGE */

header #page {
	color: var(--header-page-color);

	font-size: 18px;
	padding: calc((var(--header-height) - 20px) / 2) 20px;
	padding-right: 0;
}

@media screen and (max-width: 400px) {
	header #page {
		display: none;
	}
}

/* SEPARATORS */

header div.header-line-separator {
	margin-top: auto;
	margin-bottom: auto;
	height: 60%;
	width: 4px;
	border-left: 4px solid var(--header-separator-color);
}

header div.header-separator {
	flex-grow: 4;
}

/* LOGO */

header a.logo {
	padding: 0px 16px;
	height: 100%;
	display: flex;
}

header a.logo > img {
	padding: 8px;
	height: calc(100% - 8px * 2);
}
header a.logo > img.printlogo {
	display: none;
}

/* LINKS */

header #navlinks {
	display: flex;
}

header #navlinks > a {
	display: block;
	color: var(--header-button-fg-color);
	text-align: center;

	text-decoration: none;
	font-size: 16px;
	padding: calc((var(--header-height) - 16px) / 2) 30px;
	transition: color 0.2s;
}

header #navlinks > a.active {
	background-color: var(--header-button-bg-active-color);
	color: var(--header-button-fg-active-color);
}

header #navlinks > a:hover {
	color: var(--header-button-fg-hovered-color);
}

/* HEADER BURGER BUTTON */

@media screen and (max-width: 1080px) {
	header #navlinks {
		flex-direction: column;
		position: fixed;
		top: var(--header-height);
		right: -110%;
		overflow-y: auto;
		max-height: calc(90% - var(--header-height));
		background-color: var(--header-bg-color);
		transition: right 0.2s;
		border-left: solid 1px var(--header-menu-border-color);
		border-bottom: solid 1px var(--header-menu-border-color);
	}

	header #navmenu {
		display: flex !important;
	}
}

header #navmenu {
	display: none;
	float: right;
	height: 34px;
	width: 34px;
	padding: calc((var(--header-height) - 34px) / 2);
	cursor: pointer;
	justify-content: space-between;
	flex-direction: column;
	padding-left: 0;
}

header #navmenu > div {
	width: 100%;
	height: 6px;
	background-color: var(--header-burger-color);
	transition: background-color 0.2s, transform 0.2s;
}

header #navmenu:hover > div {
	background-color: var(--header-burger-hovered-color);
}

header #navmenu.cross > div:nth-child(1) {
	transform: translateY(14px) rotate(-45deg);
}
header #navmenu.cross > div:nth-child(2) {
	opacity: 0;
}
header #navmenu.cross > div:nth-child(3) {
	transform: translateY(-14px) rotate(45deg);
}

/* ----- NAV BUTTON ----- */

#movement {
	position: fixed;
	right: 10px;
	bottom: -50px;
	height: 45px;
	width: 45px;
	display: grid;
	place-content: center;
	transition: bottom 0.2s;
}

#movement > div {
	width: 41px;
	height: 41px;
	border-radius: 100%;
	border: none;
	cursor: pointer;
	padding: 0px;
	transition: width 0.2s, height 0.2s;
	box-shadow: 0px 0px 2px black;
	background-color: var(--nav-bg-color);
	display: grid;
	place-content: center;
}

#movement > div > div {
	font-size: 18px;
	transition: color 0.2s;
	color: var(--nav-fg-color);
}

#movement > div:hover {
	width: 45px;
	height: 45px;
}

#movement > div:hover > div {
	color: var(--nav-fg-hovered-color);
}

/* ----- FOOTER ----- */

footer {
	width: 100%;
	background-color: var(--footer-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer > div {
	padding-top: 16px;
	padding-bottom: 16px;
	width: 960px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

/* LINKS */

footer #maplinks {
	display: flex;
	flex-direction: row;
}

footer #maplinks > div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

footer #maplinks > div > div:nth-child(1) {
	color: var(--footer-map-title-color);
	text-decoration: none;

	font-size: 18px;
	margin-bottom: 8px;
}

footer #maplinks > div > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer #maplinks > div > div:nth-child(2) > a {
	text-decoration: none;
	color: var(--footer-map-link-color);
	margin-top: 2px;
	font-size: 16px;
	transition: color 0.2s;
}

footer #maplinks > div > div:nth-child(2) > a:hover {
	color: var(--footer-map-link-hovered-color);
}

footer #maplinks > div > div:nth-child(2) > a.active {
	color: var(--footer-map-link-active-color);
}

/* SOCIAL AND LEGAL */

footer #sociallegal {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 16px;
}

/* LEGAL */

footer #sociallegal > #legal {
	text-decoration: none;
	color: var(--footer-legal-fg-color);
	font-size: 14px;
}

footer #sociallegal > #legal > a {
	color: var(--color-3);
	margin-left: 4px;
	transition: color 0.2s;
	text-decoration: none;
}
footer #sociallegal > #legal > a:hover {
	color: var(--color-2);
}

footer #sociallegal > #legal > a.active {
	color: var(--color-2);
}

/* SOCIAL */

footer #social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

footer #social > div {
	width: 40px;
	height: 40px;
	display: flex;
}

footer #social > div > a {
	width: 80%;
	height: 80%;
	border-radius: 15%;
	background-color: var(--footer-social-bg-color);
	display: flex;
	margin: auto;
	transition: width 0.2s, height 0.2s;
	text-decoration: none;
}

footer #social > div > a:hover {
	width: 100%;
	height: 100%;
}

footer #social > div > a > div {
	color: var(--footer-social-fg-color);
	margin: auto;
	transition: color 0.2s;
	text-decoration: none;
	font-size: 18px;
}

footer #social > div > a:hover > div {
	color: var(--footer-social-fg-hovered-color);
}

footer #social > div > a > div {
	color: var(--footer-social-fg-color);
}

@media screen and (max-width: 1080px) {
	footer > div {
		width: calc(80%);
		gap: 20px;
		padding-right: 10%;
		padding-left: 10%;
	}

	footer #sociallegal {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	footer #maplinks {
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}
	footer #maplinks > div > div:nth-child(2) {
		flex-direction: row;
		gap: 24px;
	}
}

@media screen and (max-width: 800px) {
	footer #maplinks > div > div:nth-child(2) {
		flex-direction: column;
		gap: 0;
	}
}

/* ----- CONTENT ----- */

#content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.splitter::before {
	content: "";
	border-right: 4px solid var(--footer-map-link-hovered-color);
	margin-right: 4px;
}

/* ----- INPUTS ----- */

/* TEXT INPUT */

.text_input {
	background-color: var(--text-input-bg-color);
	border-radius: 0;
	border: 2px solid var(--text-input-bg-color);
	padding: 4px;
	outline: none;
	font-family: var(--font);
}

.text_input:focus {
	border: 2px solid var(--text-input-border-hovered-color);
}

textarea.text_input.noresize {
	resize: none;
}

/* CHECKBOX */

input[type="checkbox"] {
	background-color: var(--checkbox-input-bg-color);
	border: 2px solid var(--checkbox-input-border-color);
	height: 16px;
	width: 16px;
	appearance: none;
	margin: 0;
	display: grid;
	place-content: center;
	cursor: pointer;
}

input[type="checkbox"]::before {
	content: "";
	width: 8px;
	height: 8px;
	transform: scale(0);
	transition: transform 0.1s;
	background-color: var(--checkbox-input-fg-color);
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

/* BUTTON */

.arrowbutton {
	border: 0;
	background-color: var(--button-bg-color);
	color: var(--button-fg-color);
	font-size: 14px;
	width: fit-content;
	padding: 5px 12px;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s;
	cursor: pointer;
	text-decoration: none;
}

.arrowbutton:hover {
	background-color: var(--button-bg-hovered-color);
}

.arrowbutton::after {
	content: "\f054";
	font-family: "FontAwesome";
	margin-left: 8px;
	color: var(--button-arrow-color);
	transition: color 0.2s;
}

.arrowbutton:hover::after {
	color: var(--button-arrow-hovered-color);
}

.arrowbutton.bigger {
	font-size: 18px;
}

div.check {
	align-items: center !important;
	display: flex !important;
	flex-direction: row !important ;
	gap: 8px !important;
	justify-content: initial !important;
}

/* COMPACT VIEW */

div.compact {
	display: flex;
	flex-direction: column;
}
div.compact > div:nth-child(1) {
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: fit-content;
}

/* CROSS */
div.compact > div:nth-child(1) > button {
	background-color: transparent;
	cursor: pointer;
	border: 0;
	height: 14px;
	width: 14px;
	padding: 0;
	margin-right: 8px;
}

div.compact > div:nth-child(1) > button > div:nth-child(1) {
	width: 14px;
	height: 3px;
	background-color: var(--compact-view-cross-color);
	transform: translateY(+1.5px);
}

div.compact > div:nth-child(1) > button > div:nth-child(2) {
	width: 14px;
	height: 3px;
	background-color: var(--compact-view-cross-color);
	transform: translateY(-1.5px) rotate(-90deg);
	transition: transform 0.2s ease-in-out;
}

div.compact.notransition > div:nth-child(1) > button > div:nth-child(2) {
	transition: 0s !important;
}

div.compact > div:nth-child(2) {
	height: 0;
	overflow: hidden;
	transition: height 0.4s;
	background-color: var(--compact-view-bg-color);
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	flex-direction: column;
}

div.compact.notransition > div:nth-child(2) {
	transition: 0s !important;
}

div.compact > div:nth-child(2)::before {
	margin-top: 8px;
	content: "";
}
div.compact > div:nth-child(2)::after {
	margin-top: 8px;
	content: "";
}

div.compact > div:nth-child(1).opened > button > div:nth-child(2) {
	transform: translateY(-1.5px) rotate(0deg);
}

@media print {
	div.compact > div:nth-child(1).opened > button {
		display: none;
	}

	div.compact > div:nth-child(2) {
		height: auto;
	}
}

/* TEXT */

h1 {
	font-size: 30px;
	margin: 12px 0px;
}
h2 {
	font-size: 24px;
	margin: 6px 0px;
}
h3 {
	font-size: 20px;
	margin: 4px 0px;
}

p {
	font-size: 16px;
	margin: 4px 0px;
}

p.small {
	font-size: 13px;
	margin: 2px 0px;
}

label {
	cursor: pointer;
}

a.colored {
	color: var(--color-1);
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

a.colored:hover {
	color: var(--color-2);
}

a.colored.arrow::after {
	content: "\f054";
	font-family: "FontAwesome";
	margin-left: 8px;
	transition: margin-left 0.4s;
}

a.colored.arrow:hover::after {
	margin-left: 12px;
}

/* CONTACT PAGE */

#contact {
	display: flex;
	width: 100%;
	flex-grow: 1;
}

/* FORM */

#contact #form {
	display: flex;
	flex-direction: column;
	width: calc(100% - 16px * 2);
	padding: 16px 16px;
	padding-bottom: 24px;
	gap: 8px;
}

#contact #form > form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 800px;
}

@media screen and (max-width: 960px) {
	#contact {
		flex-direction: column-reverse;
	}

	#contact #form {
		justify-content: center;
	}

	#contact #form > form {
		max-width: 100%;
	}
}

/* INFO */

#contact #info {
	display: flex;
	flex-direction: column;
	padding: 32px;
	padding-top: 72px;
	width: calc(260px + 16px * 2);
	background: url(images/loop.svg);
}

#contact #info > div {
	margin-bottom: 16px;
}

#contact #info > a {
	cursor: pointer;
	color: var(--color-1);
	text-decoration: none;
	transition: color 0.2s;
}
#contact #info > a:hover {
	color: var(--color-2);
}

@media screen and (max-width: 960px) {
	#contact #info {
		width: calc(100% - 32px * 2);
		padding-top: 32px;
	}
}

iframe.map {
	border: 0;
	height: 250px;
	width: 100%;
}

/* FAQ */

#faq {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

#faq #questions {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#faq #image > img {
	width: 320px;
}

@media screen and (max-width: 992px) {
	#faq #image {
		display: none;
	}
}

/* CONNECTION */

#connect {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#connect > a {
	font-size: 14px;
	width: fit-content;
}

#inscription {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
#inscription > div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#inscription > input:nth-child(4) {
	margin-bottom: 16px;
}

/* PRODUITS */

#produits {
	display: flex;
	flex-direction: row;
	gap: 32px;
	flex: 1;
}

#produits > div {
	flex: 1;
	background-color: var(--color-6);
	padding: 16px;
	height: min-content;
}

@media screen and (max-width: 992px) {
	#produits {
		flex-direction: column;
	}
}

#produits > div > h1 {
	margin-bottom: 16px;
}

#produits div.prix {
	padding-top: 16px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#produits div.prix > div:nth-child(1) {
	font-weight: bold;
	color: var(--color-2);
	font-size: 24px;
}
#produits div.prix > div:nth-child(2) {
	font-weight: bold;
}

#produits div.achat {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	align-items: flex-end;
}

#produits div.value {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
#produits div.value > div {
	padding-bottom: 2px;
}

#produitsdesc {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* NOUS REJOINDRE */

#rejoindre {
	display: flex;
	flex-direction: row;
	flex: 1;
	gap: 16px;
}

#rejoindre #info {
	flex: 1;
	display: flex;
	gap: 12px;
	flex-direction: column;
}

#rejoindre #image > img {
	width: 350px;
}

@media screen and (max-width: 992px) {
	#rejoindre #image {
		display: none;
	}
}

/* A PROPOS */

#apropos {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

#apropos > section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#apropos > section:nth-child(2n) {
	background-color: var(--content-bg-secondary-color);
}

#apropos div.split {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

#apropos div.split.reversed {
	flex-direction: row-reverse;
}

@media screen and (max-width: 992px) {
	#apropos div.split {
		flex-direction: column !important;
		gap: 32px;
	}
}

#apropos div.split > div {
	flex: 1;
	gap: 16px;
	display: flex;
	flex-direction: column;
}

#apropos div.split > div.image {
	flex: 0;
}

#apropos div.split > div.image > img {
	height: 270px;
}

@media screen and (max-width: 992px) {
	#apropos div.split > div.image > img {
		height: auto;
	}
}

/* ACCUEIL */

#accueil {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#accueil > section {
	width: 100%;
}

#logo {
	display: flex;
	flex-direction: column-reverse;
	width: 20%;
	margin: 16px;
}

#accueil #accueil_intro {
	position: relative;
}

@media print {
	#accueil #accueil_intro {
		display: none;
	}
}

#accueil #accueil_intro > div#accueil_video {
	height: calc(100vh - var(--header-height));
	overflow: hidden;
	width: 100%;
}

#accueil #accueil_intro > div#accueil_video > video {
	min-height: calc(100vh - var(--header-height));
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -3;
}

#accueil #accueil_titre {
	position: absolute;
	right: 0;
	top: calc(50%);
	transform: translate(0, -50%);
	padding: 24px;
	background-color: rgba(86, 40, 202, 0.583);
	backdrop-filter: blur(20px);
}

#accueil #accueil_titre > h1 {
	font-size: 60px;
	color: var(--color-3);
}
#accueil #accueil_titre > h2 {
	font-size: 24px;
	color: var(--color-3);
	font-weight: normal;
}

@media screen and (max-width: 960px) {
	#accueil #accueil_titre {
		top: 0;
		transform: translate(0, 0);
		height: calc(350px - var(--header-height) - 24px * 2);
		overflow: hidden;
		width: calc(100% - 24px * 2);
	}

	#accueil #accueil_intro > div#accueil_video {
		height: calc(350px - var(--header-height));
	}
}

@media screen and (max-width: 560px) {
	#accueil #accueil_titre > h1 {
		font-size: 36px;
	}
}

#accueil #accueil_desc {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#accueil #accueil_desc > div {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

@media screen and (max-width: 992px) {
	#accueil #accueil_desc > div {
		flex-direction: column;
	}
}

#accueil #accueil_desc > div > div {
	flex: 1;
	background-color: var(--color-6);
	padding: 16px;
	display: flex;
	flex-direction: column;
}

#accueil #accueil_news {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#accueil #accueil_news > div > .articles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 16px;
}

#accueil #accueil_news > div > .articles > div:nth-child(1n + 4) {
	display: none;
}

@media screen and (max-width: 992px) {
	#accueil #accueil_news > div > .articles {
		flex-direction: column;
		gap: 32px;
	}
}

#accueil #accueil_news > div > .plus_articles {
	padding-top: 16px;
	display: flex;
	flex-direction: row-reverse;
}

#accueil #accueil_produits {
	background-color: var(--color-6);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#accueil #accueil_produits > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#accueil #accueil_produits > div > img {
	width: 48vw;
	position: absolute;
	left: 0px;
}

@media screen and (min-width: 1800px) {
	#accueil #accueil_produits > div > img {
		width: calc(1800px * 0.48);
	}
}

#accueil #accueil_produits > div > div {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-left: 50%;
	width: 50%;
}
#accueil #accueil_produits > div > div > div {
	display: flex;
	flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
	#accueil #accueil_produits > div > img {
		display: none;
	}
	#accueil #accueil_produits > div > div {
		margin-left: 0;
		width: 100%;
	}
}

#news {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#news > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 16px;
}

.news_item {
	background-color: var(--color-6);
	flex: 0 0 calc(33.333% - (16px * 2) / 3);
	padding: 0;
	display: flex;
	flex-direction: column;
}

.news_item > div:nth-child(1) > a {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.news_item > div:nth-child(1) > a > img {
	width: 100%;
}

.news_item > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 16px;
}

.news_item > div:nth-child(2) > div.date {
	color: var(--color-4);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.news_item > div:nth-child(2) > div.date > div {
	margin-bottom: 4px;
	margin-right: 4px;
}

.news_item > div:nth-child(2) > div.read_more {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

@media screen and (max-width: 992px) {
	#news > div {
		flex-direction: column;
		gap: 32px;
	}

	.news_item > div:nth-child(1) > div {
		max-height: 300px;
	}
}

#article {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#article_retour {
	display: flex;
	flex-direction: row-reverse;
}

#createurs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#createurs > div {
	padding: 32px;
	flex: 0 0 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	background-color: var(--color-6);
}

#createurs > div > img.cv {
	display: none;
}
#createurs > div > img.photo {
	width: 100%;
}
#createurs > div > div {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
@media screen and (max-width: 992px) {
	#createurs {
		flex-direction: column;
		gap: 64px;
	}
}

@media print {
	#createurs {
		flex-direction: column;
		gap: 64px;
	}
	#createurs > div > img.photo {
		width: 50%;
	}
	#createurs > div > img.cv {
		display: block;
		width: 90%;
	}
}

#mentionslegales {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding-bottom: 24px;
}

#charte {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

#charte > div {
	flex: 1;
}

#charte > div:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#charte > div:nth-child(1) > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#charte > div:nth-child(1) > div > div:nth-child(1) {
	width: 64px;
	height: 64px;
	border-radius: 16px;
	border: 4px solid black;
}

#charte > div:nth-child(1) > div > div:nth-child(2) {
	margin-left: 24px;
}

#charte > div:nth-child(2) > img {
	padding: 0px 32px;
}

#charte > div:nth-child(2) > img:nth-child(2) {
	padding: 32px;
	background-color: black;
}

@media screen and (max-width: 992px) {
	#charte {
		flex-direction: column;
	}
}

#title > div.date {
	color: var(--color-4);
	display: flex;
	flex-direction: row;
	align-items: center;
}

#title > div.date > div {
	margin-bottom: 4px;
	margin-right: 4px;
}

.dynamic_width {
	width: 960px;
	padding: 16px;
}
.dynamic_width.half {
	width: 480px;
}

@media screen and (max-width: 992px) {
	.dynamic_width {
		width: calc(100% - 16px * 2);
	}
}

@media screen and (max-width: 512px) {
	.dynamic_width.half {
		width: calc(100% - 16px * 2);
	}
}

.separator {
	flex-grow: 1;
}

.separator.minimum {
	min-height: 16px;
}

.hover_shadow {
	transition: box-shadow 0.4s;
}

.hover_shadow:hover {
	box-shadow: 1px 4px 4px rgb(64 64 64 / 30%);
}

.spread {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.spacer {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

@media print {
	header {
		position: absolute;
	}

	header .logo > img.logo {
		display: none;
	}
	header .logo > img.printlogo {
		display: block !important;
	}

	header #navlinks {
		display: none;
	}
	header #movement {
		display: none;
	}
	header #navmenu {
		display: none;
	}
	header #header-separator {
		display: none;
	}

	.arrowbutton {
		border: 1px solid var(--color-1);
		box-sizing: border-box;
		background-color: transparent;
	}

	div {
		box-shadow: 0px 0px black !important;
	}

	footer {
		display: none;
	}

	#content {
		position: absolute;
		left: 0;
	}

	.print_border {
		border: 1px solid var(--color-1);
		box-sizing: border-box;
	}
	.hover_shadow {
		border: 1px solid var(--color-1);
		box-sizing: border-box;
	}
}
